<!-- template from website: https://bootsnipp.com/snippets/dldxB  -->

<div class="wrapper fadeInDown">
  <div id="formContent">

    <ng-content select="h2">
    </ng-content>

    <!-- Login Form -->
    <form [formGroup]="authForm" (submit)="onSubmit()">
      <label for="login">Username</label>
      <input type="text" id="login"
             class="fadeIn second form-control" name="login"
             placeholder="Username"
             [ngClass]="{'is-valid':!(usernameRequired||usernameMinLength||usernameInUse)
             , 'is-invalid': (usernameRequired||usernameMinLength||usernameInUse)}"
             formControlName="username"
             #usernameInput>
      <div class="spinner-border text-secondary" role="status" *ngIf="usernameChecking">
        <span class="sr-only">Loading...</span>
      </div>
      <small *ngIf="usernameRequired" class="form-text text-muted invalid-feedback">
        Username is required.
      </small>
      <small *ngIf="usernameMinLength" class="form-text text-muted invalid-feedback">
        Username need more than 4 digits.
      </small>
      <small *ngIf="usernameInUse" class="form-text text-muted invalid-feedback">
        Username is already in used.
      </small>
      <!--      password      -->
      <label for="password">Password</label>
      <input type="password" id="password" class="fadeIn third form-control"
             name="login" placeholder="password"
             [ngClass]="{'is-valid':!(passwordMinLength||passwordRequired)
             , 'is-invalid': (passwordMinLength||passwordRequired)}"
             formControlName="password">
      <small *ngIf="passwordRequired" class="form-text text-muted invalid-feedback">
        Password is required.
      </small>
      <small *ngIf="passwordMinLength" class="form-text text-muted invalid-feedback">
        Password need more than 4 digits.
      </small>
      <br>
      <ng-content select=".error"></ng-content>
      <div class="auth-form-action">
        <ng-content select="button"></ng-content>
      </div>
      <br>
      <div class="auth-form-toggle">
        <ng-content select="a"></ng-content>
      </div>
      <br>
    </form>

    <!-- Remind Passowrd -->
    <!--    <div id="formFooter">-->
    <!--      <a class="underlineHover" href="#">Forgot Password?</a>-->
    <!--    </div>-->

  </div>
</div>
