.order-form {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &-item {
    padding: 0 5px 0 5px;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s ease;
  }
}

.sticky{
  background: #f7f7fa;
  border-top: #0f9675 solid 1px;
  box-shadow: -2px 4px 14px 1px rgba(0,0,0,0.28);
  -webkit-box-shadow: -2px 4px 14px 1px rgba(0,0,0,0.28);
  -moz-box-shadow:  -2px 4px 14px 1px rgba(0,0,0,0.28);
  border-radius: 5px;
  position: fixed;
  opacity: 0.8;
  bottom: 0;
  margin: auto;
  height: 70px;
  width: 100%;
  left: 0;
  z-index: 1000;

  &:hover{
    opacity: 1;
  }
}
